<launch>
  <!-- Direct USB-CAN -> Y42 X firmware. NEVER start can_interface_node alongside it. -->
  <arg name="can_device" default="can0"/>
  <arg name="max_rpm" default="120.0"/>
  <arg name="stall_warning_timeout" default="0.5"/>
  <arg name="motor_ids" default="[2, 1, 4, 3]"/>
  <arg name="direction_signs" default="[1, 1, 1, 1]"/>
  <arg name="feedback_timeout" default="1.0"/>
  <arg name="startup_zero_duration" default="1.0"/>
  <arg name="inactive_wheel_mode" default="stop"/>
  <arg name="acceleration_rpm_s" default="50"/>
  <node pkg="can_motor_interface" type="y42_direct_node.py" name="y42_direct_node" output="screen" required="true">
    <param name="can_device" value="$(arg can_device)"/>
    <param name="max_rpm" value="$(arg max_rpm)"/>
    <param name="stall_warning_timeout" value="$(arg stall_warning_timeout)"/>
    <param name="feedback_timeout" value="$(arg feedback_timeout)"/>
    <param name="startup_zero_duration" value="$(arg startup_zero_duration)"/>
    <param name="inactive_wheel_mode" value="$(arg inactive_wheel_mode)"/>
    <param name="acceleration_rpm_s" value="$(arg acceleration_rpm_s)"/>
    <rosparam param="motor_ids" subst_value="true">$(arg motor_ids)</rosparam>
    <rosparam param="direction_signs" subst_value="true">$(arg direction_signs)</rosparam>
  </node>
</launch>
