<?xml version='1.0' encoding='utf-8'?>
<launch>
  <!-- AV01 audio requires matching software on BOTH peers. Video crosses network only as JPEG. -->
  <arg name="master_uri" default="http://192.168.15.128:11311" />
  <arg name="local_ip" default="192.168.15.129" />
  <arg name="remote_ip" default="192.168.15.128" />
  <arg name="enable_audio" default="true" />
  <arg name="enable_video" default="true" />
  <arg name="enable_display" default="true" />
  <arg name="start_lower_cam" default="true" />
  <arg name="use_test_camera" default="false" />
  <arg name="lower_cam_device" default="/dev/video0" />
  <arg name="cam_width" default="1280" />
  <arg name="cam_height" default="720" />
  <arg name="cam_framerate" default="25" />
  <arg name="cam_pixel_format" default="mjpeg" />
  <arg name="jpeg_quality" default="85" />
  <arg name="stream_width" default="1280" />
  <arg name="stream_height" default="720" />
  <arg name="stream_framerate" default="25.0" />
  <arg name="http_port" default="8080" />
  <arg name="enable_http" default="true" />
  <arg name="enable_browser" default="false" />
  <arg name="sample_rate" default="48000" />
  <arg name="frame_duration_ms" default="20" />
  <arg name="opus_bitrate" default="32000" />
  <arg name="ready_topic" default="/Ready" />
  <arg name="capture_latency_ms" default="20" />
  <arg name="playback_latency_ms" default="40" />
  <arg name="jitter_buffer_ms" default="40" />
  <arg name="max_queue_ms" default="100" />
  <env name="ROS_MASTER_URI" value="$(arg master_uri)" />
  <env name="ROS_IP" value="$(arg local_ip)" />
  <group if="$(arg enable_video)">
    <group if="$(arg start_lower_cam)">
      <node pkg="usb_cam" type="usb_cam_node" name="lower_usb_cam" output="screen" ns="lower_cam" unless="$(arg use_test_camera)">
        <param name="video_device" value="$(arg lower_cam_device)" />
        <param name="image_width" value="$(arg cam_width)" />
        <param name="image_height" value="$(arg cam_height)" />
        <param name="framerate" value="$(arg cam_framerate)" />
        <param name="pixel_format" value="$(arg cam_pixel_format)" />
        <param name="io_method" value="mmap" />
      </node>
      <node pkg="robot_navigation" type="test_camera.py" name="lower_usb_cam" output="screen" ns="lower_cam" if="$(arg use_test_camera)">
        <param name="image_width" value="$(arg cam_width)" />
        <param name="image_height" value="$(arg cam_height)" />
        <param name="framerate" value="$(arg cam_framerate)" />
      </node>
      <node pkg="robot_navigation" type="video_stream_node" name="video_sender_slave" output="screen">
        <param name="camera_topic" value="/lower_cam/lower_usb_cam/image_raw" />
        <param name="compressed_topic" value="/lower_cam/network/compressed" />
        <param name="enable_http" value="false" />
        <param name="enable_ros_topic" value="true" />
        <param name="enable_local_display" value="false" />
        <param name="jpeg_quality" value="$(arg jpeg_quality)" />
        <param name="stream_width" value="$(arg stream_width)" />
        <param name="stream_height" value="$(arg stream_height)" />
        <param name="framerate" value="$(arg stream_framerate)" />
        <param name="ready_topic" value="$(arg ready_topic)" />
      </node>
    </group>
    <node pkg="robot_navigation" type="video_stream_node" name="video_stream_slave" output="screen">
      <param name="camera_topic" value="/upper_cam/network/compressed" />
      <param name="input_compressed" value="true" />
      <param name="enable_ros_topic" value="false" />
      <param name="enable_http" value="$(arg enable_http)" />
      <param name="http_port" value="$(arg http_port)" />
      <param name="enable_local_display" value="$(arg enable_display)" />
      <param name="local_display_topic" value="/camera/upper_display" />
      <param name="jpeg_quality" value="$(arg jpeg_quality)" />
      <param name="stream_width" value="$(arg stream_width)" />
      <param name="stream_height" value="$(arg stream_height)" />
      <param name="framerate" value="$(arg stream_framerate)" />
      <param name="ready_topic" value="$(arg ready_topic)" />
    </node>
    <node pkg="image_view" type="image_view" name="view_upper_cam" output="screen" if="$(arg enable_display)">
      <remap from="image" to="/camera/upper_display" />
      <param name="queue_size" value="1" />
    </node>
    <node pkg="robot_navigation" type="video_stream_node" name="video_stream_slave_http2" output="screen" if="$(arg enable_browser)">
      <param name="camera_topic" value="/upper_cam/network/compressed" />
      <param name="input_compressed" value="true" />
      <param name="enable_ros_topic" value="false" />
      <param name="enable_http" value="true" />
      <param name="http_port" value="8081" />
      <param name="enable_local_display" value="false" />
      <param name="stream_width" value="$(arg stream_width)" />
      <param name="stream_height" value="$(arg stream_height)" />
      <param name="framerate" value="$(arg stream_framerate)" />
      <param name="ready_topic" value="$(arg ready_topic)" />
    </node>
  </group>
  <node pkg="robot_navigation" type="audio_chat_node" name="audio_chat_slave" output="screen" if="$(arg enable_audio)">
    <param name="role" value="slave" />
    <param name="local_ip" value="$(arg local_ip)" />
    <param name="remote_ip" value="$(arg remote_ip)" />
    <param name="sample_rate" value="$(arg sample_rate)" />
    <param name="frame_duration_ms" value="$(arg frame_duration_ms)" />
    <param name="opus_bitrate" value="$(arg opus_bitrate)" />
    <param name="ready_topic" value="$(arg ready_topic)" />
    <param name="capture_latency_ms" value="$(arg capture_latency_ms)" />
    <param name="playback_latency_ms" value="$(arg playback_latency_ms)" />
    <param name="jitter_buffer_ms" value="$(arg jitter_buffer_ms)" />
    <param name="max_queue_ms" value="$(arg max_queue_ms)" />
    <param name="rx_port" value="5004" />
    <param name="tx_port" value="5004" />
    <param name="channels" value="1" />
    <param name="mic_device" value="default" />
    <param name="speaker_device" value="default" />
  </node>
</launch>