<?xml version='1.0' encoding='utf-8'?>
<launch>
  <!-- Settings live in config/audio_video_defaults.launch. CLI overrides are forwarded. -->
  <arg name="role" value="master" />
  <arg name="config_file" default="$(find robot_navigation)/config/audio_video_defaults.launch" />
  <include file="$(arg config_file)" pass_all_args="true" />
</launch>
