<launch>
  <arg name="can_device" default="can0"/>
  <!-- Match STM32 CAN1 firmware. IDs and IDE are independent settings. -->
  <arg name="tx_can_id" default="256"/>
  <arg name="rx_can_id" default="257"/>
  <arg name="use_extended_frame" default="false"/>
  <arg name="max_rpm" default="3000.0"/>
  <arg name="acceleration_rpm_s" default="50"/>
  <arg name="motor_indices" default="[1, 0, 3, 2]"/>
  <arg name="direction_signs" default="[1, 1, 1, 1]"/>

  <node pkg="can_motor_interface" type="can_interface_node" name="can_interface_node" output="screen">
    <param name="can_device" value="$(arg can_device)"/>

    <!-- 与 STM32 的自定义协议参数 -->
    <param name="tx_can_id" value="$(arg tx_can_id)" type="int"/>
    <param name="rx_can_id" value="$(arg rx_can_id)" type="int"/>
    <param name="rx_can_id_filter_enable" value="true"/>
    <param name="use_extended_frame" value="$(arg use_extended_frame)" type="bool"/>
    <!-- STM32 CAN1: DLC=8 [01, idx, int32 RPM LE, acceleration, sync=0]. No checksum. -->
    <param name="acceleration_rpm_s" value="$(arg acceleration_rpm_s)" type="int"/>
    <!-- Firmware default omits velocity: request basic+position+velocity. -->
    <param name="report_mask" value="7"/>
    <param name="broadcast_index" value="255"/>   <!-- 0xFF -->
    <param name="motor_count" value="4"/>
    <rosparam param="motor_indices" subst_value="true">$(arg motor_indices)</rosparam>
    <rosparam param="direction_signs" subst_value="true">$(arg direction_signs)</rosparam>
    <param name="max_rpm" value="$(arg max_rpm)"/>

    <param name="heartbeat_timeout_sec" value="1.0"/>
    <param name="event_dedup_window_sec" value="0.5"/>

    <!-- Repeat the latest speed target independently of ROS command arrival jitter. -->
    <param name="command_publish_rate_hz" value="50.0"/>
    <param name="command_timeout_sec" value="0.5"/>
  </node>
</launch>
